@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@tailwind base;
@tailwind utilities;

@layer utilities {
	.h-titlebar {
		height: env(titlebar-area-height);
	}

	.scheme-dark {
		color-scheme: dark;
	}

	.app-region-drag {
		-webkit-app-region: drag;
	}
}

body {
	font-family: 'Roboto', sans-serif;
}
